*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img{width: 100%;}
ul{list-style: none;}
a{text-decoration: none;}

.cabecalho{
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    background-color: #efefef;
    margin-bottom: 50px;
}
.logo{
    padding: 10px;
    color: #333;
    border-bottom: 2px solid #333;
    font-size: 1.4em;
}

.content-menu{
    flex:1;
    display: flex;
    justify-content: flex-end;
}
.content-menu .menu{
    display: flex;
    align-items: center;
}
.content-menu .menu li{
    margin-left: 20px;
}
.content-menu .menu li a{
    padding-bottom: 10px;
    font-size: .9em;
    color: #333333;
    opacity: .8;
    cursor: pointer;
    font-weight: bold;
}.content-menu .menu li a:hover{
    opacity: 1;
}

.principal-grid{
    display: grid;
    grid-template-columns:[inicio-temp]0 [inicio-cont-titles] 4fr [fim-cont-titles] 10px [inicio-cont-ilustracao] 4fr [fim-cont-ilustracao]10px[inicio-cont-sidebar]3fr[fim-cont-sidebar]0[fim-temp];
    grid-template-rows: [inicio] 80vh[fim];
}
.content{
    
    padding:10px 40px;
}
.content-titles{
    grid-column:inicio-cont-titles/fim-cont-titles ;
    grid-row: inicio/fim;
    z-index: 2;
}
.title{
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 900;
    z-index: 1;
}
.subtitle{
    color: #333333;
    font-size: .9em;
    padding:0 10px;
}
.content-btn-acao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    
}
.btn-acao{
    background-color: #0af;
    color: #fff;
    border: none;
    padding: 10px;
    outline: none;
    cursor: pointer;
    opacity: .9;
    margin-bottom: 30px;
}
.btn-acao:hover{
    opacity: 1;
}

.form-captura{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: .4s;
    background-color: rgba(204, 204, 204, .5);
    padding: 0 20px;
}
.form-captura input:nth-child(1){
    margin-top: 20px;
}
.form-captura input{
    padding: 7px;
    margin-bottom: 20px;
    font-size: .7em;
    text-align: center;
    width: 100%;
    outline: none;
}
.btn-enviar{
    width: 100px;
    margin-bottom: 20px;
    padding: 7px;
    background-color: #2f2e41;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}


.content-ilustracao{
    grid-column:inicio-cont-ilustracao/fim-cont-ilustracao ;
    grid-row: inicio/fim;
    margin-left: -50%;
    margin-right: -30%;
    background: url(../img/ilustration.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -50px;
}

.content-sidebar{
    grid-column:inicio-cont-sidebar/fim-cont-sidebar ;
    grid-row: inicio/fim;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}